pkgbase = haven
	pkgdesc = Haven: cryptonote currency daemon and wallet
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/havenprotocol/haven
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/havenprotocol/haven/archive/2.1.0.tar.gz
	md5sums = 33242177af95524cf01cf1bc120ca85d
pkgname = haven
