pkgbase = dero
	pkgdesc = Dero: cryptonote currency daemon and wallet
	pkgver = 2.0.1
	pkgrel = 1
	url = https://github.com/deroproject/derosuite
	arch = x86_64
	license = custom:Research
	makedepends = git
	makedepends = go
	depends = glibc
	source = https://github.com/deroproject/derosuite/archive/v2.0.1.tar.gz
    md5sums = f5c9621d9ea7dbd25ffb545b9a65ae71
pkgname = dero
