pkgbase = dero
	pkgdesc = Dero: cryptonote currency daemon and wallet
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/deroproject/derosuite
	arch = x86_64
	license = custom:Research
	makedepends = git
	makedepends = go
	depends = glibc
	source = https://github.com/deroproject/derosuite/archive/V2.1.0.tar.gz
    md5sums = 937fd74832c0fda20793755c54a28d33
pkgname = dero
