pkgbase = dero
	pkgdesc = Dero: cryptonote currency daemon and wallet
	pkgver = 2.1.2
	pkgrel = 1
	url = https://github.com/deroproject/derosuite
	arch = x86_64
	license = custom:Research
	makedepends = git
	makedepends = go
	depends = glibc
	source = https://github.com/deroproject/derosuite/archive/v2.1.2-1.tar.gz
    md5sums = ec237bdf755d46cc27caa53b7582b94e
pkgname = dero
