pkgbase = electroneum
	pkgdesc = Electroneum: cryptonote currency daemon and wallet
	pkgver = 2.1.1.1
	pkgrel = 1
    url = https://github.com/electroneum/electroneum
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/electroneum/electroneum/archive/2.1.1.1.tar.gz
	md5sums = 747b23e5fbb5436d58b043f189fddccb
pkgname = electroneum

