pkgbase = xmr-stak-cpu
    pkgdesc = Monero CPU miner
    pkgver = 2.7.1
    pkgrel = 1
    url = https://github.com/fireice-uk/xmr-stak
    arch = x86_64
    license = GPL3
    conflicts = xmr-stak-cpu-amd
    conflicts = xmr-stak-cpu-amd-nvidia
    conflicts = xmr-stak-cpu-nvidia
    conflicts = xmr-stak-git
    conflicts = xmr-stak-cpu-git
    conflicts = xmr-stak-nvidia-git
    conflicts = xmr-stak_cpu
    makedepends = cmake
    depends = libmicrohttpd
    depends = openssl
    depends = hwloc
    source = https://github.com/fireice-uk/xmr-stak/archive/2.7.1.tar.gz
    source = no-donate.patch
    md5sums = 7671a8296c777b11318997d942c786fe
    md5sums = 19778549cabaa7aa06a90f3104d1a9ff
pkgname = xmr-stak-cpu
