pkgbase = xmr-stak-cpu
	pkgdesc = Monero CPU miner
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/fireice-uk/xmr-stak
	arch = x86_64
	license = GPL3
    conflicts = xmr-stak-git
    conflicts = xmr-stak-cpu-nvidia
	makedepends = cmake
	depends = libmicrohttpd
	depends = openssl
	depends = hwloc
	source = https://github.com/fireice-uk/xmr-stak/archive/v2.1.0.tar.gz
	source = no-donate.patch
    md5sums = 4b8d709980c8a14b8e74d47ae4a21d30
    md5sums = dcaf327fcbc4baebf9e0c8d98c76f787
pkgname = xmr-stak-cpu
