pkgbase = stellite
	pkgdesc = Stellite: cryptonote currency daemon, wallet, and miner
	pkgver = 1.2.4.4
	pkgrel = 1
	url = https://github.com/stellitecoin/Stellite
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = icu
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/stellitecoin/Stellite/archive/1.2.4.4.tar.gz
	md5sums = 7f51418bd3634c84b33715029c55c978
pkgname = stellite
