pkgbase = intensecoin
	pkgdesc = Intenscoin: cryptonote currency daemon, wallet, and miner
	pkgver = 2.0.2.1
	pkgrel = 1
	url = https://github.com/valiant1x/intensecoin
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/valiant1x/intensecoin/archive/v2.0.2.1.tar.gz
	md5sums = 89ee33725aa8d11d4d6825c9eb3e8d8d
pkgname = intensecoin
