pkgbase = aeon
	pkgdesc = Aeon: cryptonote currency daemon and wallet
	pkgver = 0.12.6.0
	pkgrel = 1
	url = https://github.com/aeonix/aeon
	arch = x86_64
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = rapidjson
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = pcsclite
	depends = readline
	depends = unbound
	depends = zeromq
	source = https://github.com/aeonix/aeon/archive/v0.12.6.0-aeon.tar.gz
	md5sums = 91cfa5d1a770e70e2ab596f2126584b0
pkgname = aeon

