pkgbase = dero
	pkgdesc = Dero: private cryptonote currency with smart contracts
	pkgver = 1.0.4.15
	pkgrel = 1
	url = https://dero.io
	arch = x86_64
	license = custom:Cryptonote
	depends = boost-libs
	depends = unbound
	depends = miniupnpc
	depends = libunwind
	depends = openssl
	depends = readline
	depends = zeromq
	source = http://seeds.dero.io/alpha/dero_linux_amd64.tar.gz
	md5sums = 3ba18538f6c256202cee55fd5029628a

pkgname = masari
