pkgbase = xmr-stak-cpu-nvidia
	pkgdesc = Monero CPU/nvidia all in one miner
	pkgver = 2.4.5
	pkgrel = 1
	url = https://github.com/fireice-uk/xmr-stak
	arch = x86_64
	license = GPL3
    conflicts = xmr-stak-cpu
    conflicts = xmr-stak-git
    conflicts = xmr-stak-cpu-git
    conflicts = xmr-stak-nvidia-git
    conflicts = xmr-stak_cpu
	makedepends = cmake
	makedepends = gcc6
	makedepends = opencl-headers
	depends = libmicrohttpd
	depends = openssl
	depends = hwloc
	depends = cuda
	depends = ocl-icd
	source = https://github.com/fireice-uk/xmr-stak/archive/2.4.5.tar.gz
	source = no-donate.patch
    md5sums = a72cc1074e6215feb9c72e9fabcbf342
    md5sums = 9737fc7ffdcc178e4836d1a413c41f06
pkgname = xmr-stak-cpu-nvidia
