pkgbase = haven
	pkgdesc = Haven: cryptonote currency daemon and wallet
	pkgver = 3.0.2
	pkgrel = 1
	url = https://github.com/havenprotocol/haven
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/havenprotocol/haven/archive/3.0.2.tar.gz
	md5sums = da2f9aef37b91203d9e45fa47931b998
pkgname = haven
