pkgbase = haven
	pkgdesc = Haven: cryptonote currency daemon and wallet
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/havenprotocol/haven
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/havenprotocol/haven/archive/3.0.0.tar.gz
	md5sums = 2af13866e91963a5067c8ed1c4f13f14
pkgname = haven
