pkgbase = xmr-stak-cpu-nvidia
	pkgdesc = Monero CPU/nvidia all in one miner
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/fireice-uk/xmr-stak
	arch = x86_64
	license = GPL3
    conflicts = xmr-stak-cpu
    conflicts = xmr-stak-git
    conflicts = xmr-stak-cpu-git
    conflicts = xmr-stak-nvidia-git
    conflicts = xmr-stak_cpu
	makedepends = cmake
	makedepends = opencl-headers
	depends = libmicrohttpd
	depends = openssl
	depends = hwloc
	depends = cuda
	depends = ocl-icd
	source = https://github.com/fireice-uk/xmr-stak/archive/2.3.0.tar.gz
	source = no-donate.patch
    md5sums = 4d9b705c6c83bf67a5bfe908f5b5b020
    md5sums = 95210692c5e5ec1e4ea0314b737bae44
pkgname = xmr-stak-cpu-nvidia
