pkgbase = xmr-stak-cpu-nvidia
	pkgdesc = Monero CPU/nvidia all in one miner
	pkgver = 2.2.0
	pkgrel = 1
	url = https://github.com/fireice-uk/xmr-stak
	arch = x86_64
	license = GPL3
    conflicts = xmr-stak-git
    conflicts = xmr-stak-cpu
	makedepends = cmake
	makedepends = opencl-headers
	depends = libmicrohttpd
	depends = openssl
	depends = hwloc
	depends = cuda
	depends = ocl-icd
	source = https://github.com/fireice-uk/xmr-stak/archive/v2.2.0.tar.gz
	source = no-donate.patch
    md5sums = 320c7ce60c4c5eb3b77e6e0e3c6a55c8
    md5sums = dcaf327fcbc4baebf9e0c8d98c76f787
pkgname = xmr-stak-cpu-nvidia
