pkgbase = stellite
	pkgdesc = Stellite: cryptonote currency daemon, wallet, and miner
	pkgver = 1.2.4.0
	pkgrel = 1
	url = https://github.com/stellitecoin/Stellite
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/stellitecoin/Stellite/archive/1.2.4.0.tar.gz
	md5sums = 6cdf9b1a40677c27ee72db11a4171d26
pkgname = stellite
