pkgbase = stellite
	pkgdesc = Stellite: cryptonote currency daemon, wallet, and miner
	pkgver = 1.2.3.2
	pkgrel = 1
	url = https://github.com/stellitecoin/Stellite
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/stellitecoin/Stellite/archive/1.2.3.2.tar.gz
	md5sums = 212a960ea375df8368603c9b7ac801f5
pkgname = stellite
