pkgbase = sumokoin
	pkgdesc = Sumokoin: cryptonote currency daemon, wallet, and miner
	pkgver = 0.4.1.1
	pkgrel = 1
	url = https://github.com/sumoprojects/sumokoin
	arch = x86_64
	arch = i686
	license = custom
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/sumoprojects/sumokoin/archive/v0.4.1.1.tar.gz
	md5sums = e0e485c5e23c2bff9153d61b0704cb67
pkgname = sumokoin
