pkgbase = sumokoin
	pkgdesc = Sumokoin: cryptonote currency daemon, wallet, and miner
	pkgver = 0.3.1.0
	pkgrel = 1
	url = https://github.com/sumoprojects/sumokoin
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = custom
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/sumoprojects/sumokoin/archive/v0.3.1.0.tar.gz
	md5sums = b0d75b24bc799238f4c973fa61e29aa3
pkgname = sumokoin
