pkgbase = xmr-stak-cpu-amd
	pkgdesc = Monero CPU miner
	pkgver = 2.4.7
	pkgrel = 1
	url = https://github.com/fireice-uk/xmr-stak
	arch = x86_64
	license = GPL3
    conflicts = xmr-stak-cpu
    conflicts = xmr-stak-cpu-amd-nvidia
    conflicts = xmr-stak-cpu-nvidia
    conflicts = xmr-stak-git
    conflicts = xmr-stak-cpu-git
    conflicts = xmr-stak-nvidia-git
    conflicts = xmr-stak_cpu
	makedepends = cmake
	makedepends = opencl-headers
	depends = libmicrohttpd
	depends = openssl
	depends = hwloc
	depends = opencl-amd
	depends = ocl-icd
	source = https://github.com/fireice-uk/xmr-stak/archive/2.4.7.tar.gz
	source = no-donate.patch
    md5sums = 3d120c2ea49a504b8b97ed8c8d78821d
    md5sums = 9737fc7ffdcc178e4836d1a413c41f06
pkgname = xmr-stak-cpu-amd
