pkgbase = masari
	pkgdesc = Masari: cryptonote currency daemon, wallet, and miner
	pkgver = 0.2.3.0
	pkgrel = 1
	url = https://github.com/masari-project/masari
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/masari-project/masari/archive/v0.2.3.0.tar.gz
	md5sums = 8ec5651597a0f3e2b64de9a3d6539c6f
pkgname = masari
