pkgbase = lethean
	pkgdesc = Lethean: cryptonote currency daemon, wallet, and miner
	pkgver = 3.0.0.b4
	pkgrel = 1
	url = https://github.com/valiant1x/intensecoin
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/LetheanMovement/lethean/archive/v3.0.0.b4.tar.gz
	md5sums = 55cff000b0c73dc0ec520c2af471709a
pkgname = lethean
