pkgbase = karbowanec
	pkgdesc = Karbowanec: cryptonote currency daemon and wallet
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/seredat/karbowanec
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/seredat/karbowanec/archive/v.1.6.0.tar.gz
	md5sums = 32b8881279563d12758c91f62759f4fc
pkgname = karbowanec
