pkgbase = karbowanec
	pkgdesc = Karbowanec: cryptonote currency daemon and wallet
	pkgver = 1.5.5
	pkgrel = 1
	url = https://github.com/seredat/karbowanec
	arch = x86_64
	arch = i686
	license = custom:Cryptonote
	makedepends = boost
	makedepends = cmake
	makedepends = git
	depends = boost-libs
	depends = libunwind
	depends = miniupnpc
	depends = openssl
	depends = readline
	depends = unbound
	depends = zeromq
    optdepends = doxygen
    optdepends = expat
    optdepends = graphviz
    optdepends = ldns
    checkdepends = gtest
	source = https://github.com/seredat/karbowanec/archive/v.1.5.5.tar.gz
	md5sums = 4de9de8459ceeeb0bbf3f084be30ab3d
pkgname = karbowanec
