pkgbase = monero
	pkgdesc = Monero: the secure, private, untraceable currency - release version (includes daemon, wallet and miner)
	pkgver = 0.13.0.4
	pkgrel = 1
	url = https://getmonero.org/
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = custom:Cryptonote
	makedepends = cmake
	makedepends = boost
	makedepends = gtest
	makedepends = qt5-tools
	depends = boost-libs
	depends = libunwind
	depends = openssl
	depends = readline
	depends = zeromq
	depends = pcsclite
	provides = monero
	provides = libmonero-wallet
	conflicts = bitmonero-git
	conflicts = libmonero-wallet-git
	source = https://github.com/monero-project/monero/archive/v0.13.0.4.tar.gz
    source = https://github.com/monero-project/miniupnp/archive/6b9b73a567e351b844f96c077f7b752ea92e298a}.tar.gz
    source = https://github.com/Tencent/rapidjson/archive/129d19ba7f496df5e33658527a7158c79b99c21c.tar.gz
    source = https://github.com/monero-project/unbound/archive/7f23967954736dcaa366806b9eaba7e2bdfede11.tar.gz
    source= monero.install
	sha256sums = 93158879f2890021ae75b31f4b81ad8026ce5b626da1f2fc44ab70657bfa512c
	sha256sums = 4474adb27410fb20ad9943b85272cc1d89ceee078e5329ea11240d1650ae586f
	sha256sums = 44b007d419ac21b6affec58991e865ee572346ead19b73cf1c3e4e11c7a81273
	sha256sums = 6989c3ee3ec298ac1dfb5f824470d36ea2d582dad263363ab2e29d4219f4e5c6
	sha256sums = 16c8ef440c09f6972f361f8fad7331b04105bf79cfe5a7c33f14c9dd1c235a9b
	sha256sums = d06398de0e45afdc31aa574d7dc21c753825355d585f49ee06e3a6420bcf6420

pkgname = monero
	install = monero.install
	backup = etc/monerod.conf

pkgname = libmonero-wallet
	options = !strip

